body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
}

.divrow {
    flex: 100%;
    display: flex;
}

.divsquare {
    flex: 1;
    background-color: silver;
}

.buttondiv {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 800px;
}
